html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.leaflet-popup-content-wrapper {
  background-color: white;
  color: black;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}

.reset-button {
  background-color: white;
  font-weight: bold;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  float: left;
  display: block;
  z-index: 100;
  position: relative;
  left: 10px;
  top: 10px;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  gap: 10px;
}

.menu-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 2000;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

#close-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: -1;
  padding: 0;
  margin: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);

  transition: all 0.3s ease-in-out;
}

#close-menu.active {
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.25);
}

.card {
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #fff;
}

.card h2 {
  font-size: 1.5rem;
  margin: 0;

}

.sidebar-header {
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  text-align: center;
  min-height: 2vh;
  flex: 0;
  flex-basis: fit-content;
}

.sidebar {
  max-width: 300px;
  z-index: 3000;
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.sidebar-content {
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  height: 90vh;
  overflow-y: auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.sidebar-content p {
  margin-top: 5px;
}

.location-list {
  list-style: none;
  padding: 10px 5px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.location-list-item {
  cursor: pointer;
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.2s ease;
}

.location-list-item a {
  color: black;
  text-decoration: none;
}

.location-list-item:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}


.sidebar {
  position: absolute;
  left: -300px;
  /* hide sidebar off screen */
  top: 0;
  bottom: 0;
  width: 300px;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* hide menu button on larger screens */
.menu-btn {
  display: block;
}

/* adjust sidebar position and width for smaller screens */
.sidebar {
  left: -100%;
  width: 100%;
}

/* show sidebar when container has .show-sidebar and media query is active */
.sidebar.show-sidebar {
  left: 0;
}

#sidebar-left {}

#map {
  flex: 3;
}

#sidebar-right {}