html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.leaflet-popup-content-wrapper {
  background-color: white;
  color: black;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}

/* #map {
  width: 600px;
  height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */

.reset-button {
  background-color: white;
  font-weight: bold;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  float: left;
  display: block;
  z-index: 100;
  position: relative;
  left: 10px;
  top: 10px;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex: 1;
  justify-content: space-between;
  gap: 10px;
}

.flex-item {
  background-color: lightgray;
  border-radius: 5px;
}

.sidebar {
  max-width: 300px;
  flex: 1;
}

.sidebar-content {
  padding: 10px;
}

#sidebar-left {}

#map {
  flex: 3;
}

#sidebar-right {}