html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

.leaflet-popup-content-wrapper {
  background-color: white;
  color: black;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}

/* #map {
  width: 600px;
  height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */

.reset-button {
  background-color: white;
  font-weight: bold;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  float: left;
  display: block;
  z-index: 100;
  position: relative;
  left: 10px;
  top: 10px;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex: 1;
  justify-content: space-between;
  gap: 10px;
}

.flex-item,
.flex-item div {
  /* background-color: lightgray; */
  /* border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

.card {
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  text-align: center;
}

.card h2 {
  font-size: 1.5rem;
  margin: 0;
}

.sidebar {
  max-width: 300px;
  flex: 1;
}

.sidebar-content {
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

#sidebar-left {}

#map {
  flex: 3;
}

#sidebar-right {}